---
layout: default
seo:
  title: About |  Legacy Green Cleaning Services 
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/legacy-green-cleaning2.jpg
  aspect-ratio: portrait
team:
- name: Sandra Acero
  bio: Director
  description: Business Administrator and project manager. Sandra has five years of experience in commercial cleaning services. She is passionate about caring for the planet and seeks to focus her knowledge in the business area to contribute to caring for the environment focused on sustainable cleaning. She is a cat lover, her hobby is painting and she is a fitness lover.
  profile_image: /images/legacy-green-sandra.png
- name: Martin Serna
  bio: Operations Manager
  description: Martin has more than five years of experience in commercial cleaning services and his greatest interest is to find a balance between care for the environment and spotlessness, he believes that sustainable cleaning is the most effective way to contribute to climate change and provide to the client the satisfaction of the best service offered. Martin is an animal lover, especially dogs, and plants are his main passion! Martin likes to read, and he is a hobby chef.
  profile_image: /images/legacy-green-martin.jpg
banner-2:
  banner_image: /images/legacy-green1.jpg
  image-position: bg-pos-t
  banner-tall: tall-70
  small-devices-tall: tall-50-md
  column-size: col-6_sm-12
  text-align: center
  main-text: white-text
  sub-text: white-text
  block-position: grid-center
highlights:
- column-size: col-4_sm-12
  icon: fas fa-store
  title: Environmental Social Enterprise
  description:
- column-size: col-4_sm-12
  icon: fas fa-leaf
  title: Waste reduction
  description:
- column-size: col-4_sm-12
  icon: fas fa-seedling
  title: Earth friendly Service
  description:
gallery:
- column-size: col-4_sm-6_xs-12
  background_image: /images/legacy-green-original6.jpg
  popup_image: /images/legacy-green-original6.jpg
  text-hover: Candles
- column-size: col-4_sm-6_xs-12
  background_image: /images/legacy-green-original7.jpg
  popup_image: /images/legacy-green-original7.jpg
  text-hover: Candles
- column-size: col-4_sm-6_xs-12
  background_image: /images/legacy-green-original4.jpg
  popup_image: /images/legacy-green-original4.jpg
  text-hover: Candles
- column-size: col-6_sm-6_xs-12
  background_image: /images/legacy-green-original2.jpg
  popup_image: /images/legacy-green-original2.jpg
  text-hover: Candles
- column-size: col-6_sm-6_xs-12
  background_image: /images/legacy-green-original3.jpg
  popup_image: /images/legacy-green-original3.jpg
  text-hover: Candles
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/candle-web9.jpeg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

<section class="{{page.banner.banner-tall }} {{page.banner.small-devices-tall }} grid">

    {% include header-nav-dark.html %}

    <div class="col-5_sm-12 padded">
      <div class="bg-image {{page.banner.aspect-ratio }}" style="background-image:url('{{ page.banner.banner_image }}')"></div>
    </div>

    <div class="col-6_sm-12-middle padded">
        <h2 class="big-bold editable"> About us </h2>
        <p> For more than five years we have worked as cleaners in Australia, which gave us enough experience and we have seen throughout our work that we can do it in a different and more environmentally responsible way, in addition to being people who care about the environment and the future of our planet and the love we have for nature led us to combine the two things into one.</p>
        <p> For this reason, we have decided that any task or work that we perform is important to be related to our environmental ethics since in some way we want our work to help reduce our carbon footprint, and what better alternative than in the industry of the cleaning service. </p>
        <p> Our goal is being one of the green companies that have contributed the most in Australia in supporting the fight against climate change through cleaning, through an eco-friendly service to our customers.  </p>
    </div>

    <div>
        <h3 class="our-story-text editable"> OUR STORY </h3>
    </div>

</section>


<!--------------------  THE TEAM -------------------->

<section class="padded-b-lg padded-lg padded-t sm-padded-lg sm-text-center">

    <div class="capped-width-narrow">
    
    <div>
        <!-- <h3 class="team-text editable"> BEHIND THE COMPANY </h3> -->
    </div>
        
    {% for person in page.team %}

        <div class="grid flex-flip-alternate-2">
            
            <div class="col-5_sm-12 padded-2">
                <img src="{{ person.profile_image }}" class="profile-image">
            </div>

            <div class="col-7_sm-12-middle padded-1">
                <h3> Meet {{ person.name }} </h3>
                <p> <strong> {{ person.bio }} </strong></p>
                <p> {{ person.description }} </p>
            </div>
        </div>

    {% endfor %}

    </div>  

</section>

<!--------------------  BANNER 2 -------------------->

<section class="experience bg-image {{page.banner-2.block-position }} {{page.banner-2.image-position }} fixed {{page.banner-2.banner-tall }} {{page.banner-2.small-devices-tall }}" style="background-image:url('{{ page.banner-2.banner_image }}')" id="{{site.data.navigation.quick-links.link-4.id }}">

  <div class="{{page.banner-2.column-size }}-middle {{page.banner-2.text-align }}">
    <h2 class="big-bold {{page.banner-2.main-text }} editable margin-b-2">
      6 years of experience
    </h2>
    <h4 class="{{page.banner-2.sub-text }} editable">
      Guarantees a cleaning method that is friendly with the environment and with people
    </h4>
  </div>
</section> 


<!-- ICON GRID  -->

<section class="padded padded-t-lg center values">
  <h2 class="editable"> Our Values </h2>
  <div class="grid-center padded">

    {% for item in page.highlights %}
    <div class="{{item.column-size }} padded-sm">
      <i class="{{item.icon }} big-icon"></i>
      <h4> {{item.title }} </h4>
      <p>{{item.description}}</p>
    </div>
    {% endfor %}

  </div>
</section>

<!-- POP UP GALLERY -->

<section class="padded center padded-t-1">

  <h2 class="editable"> Photo Gallery </h2>
  <p class="editable"> A few unedited pictures of our work and some non toxic products we use.
  
    <div class="gallery grid-center padded-1" id="lightgallery">

      {% for item in page.gallery %}
      <a class="{{item.column-size }}" href="{{item.popup_image }}">
          <div class="hover-container" style="background-image:url('{{item.background_image }}')">
              <div class="hover-overlay">
                  <div class="hover-inner">
                      <h4> {{item.text-hover}} </h4>
                  </div>
              </div>
          </div>
      </a>
      {% endfor %}
  
  
    </div>
  
</section>

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}