---
layout: default
seo:
  title: About |  Legacy Green Cleaning Services 
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/legacy-green-cleaning2.jpg
  aspect-ratio: portrait
team:
- name: Sandra Acero
  bio: Manager
  description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione eum perferendis minus velit magni rem iure corrupti dolor minima voluptas, hic consequatur quia itaque.
  profile_image: /images/legacy-green-sandra.png
banner-2:
  banner_image: /images/legacy-green1.jpg
  image-position: bg-pos-t
  banner-tall: tall-70
  small-devices-tall: tall-50-md
  column-size: col-6_sm-12
  text-align: center
  main-text: white-text
  sub-text: white-text
  block-position: grid-center
highlights:
- column-size: col-4_sm-12
  icon: fas fa-store
  title: Environmental Social Enterprise
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum quod et id voluptatem aliquid dignissimos, vitae p
- column-size: col-4_sm-12
  icon: fas fa-leaf
  title: Waste reduction
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum quod et id voluptatem aliquid dignissimos, vitae p
- column-size: col-4_sm-12
  icon: fas fa-seedling
  title: Earth friendly Service
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum quod et id voluptatem aliquid dignissimos, vitae p
gallery:
- column-size: col-4_sm-6_xs-12
  background_image: /images/legacy-green-original6.jpg
  popup_image: /images/legacy-green-original6.jpg
  text-hover: Candles
- column-size: col-4_sm-6_xs-12
  background_image: /images/legacy-green-original7.jpg
  popup_image: /images/legacy-green-original7.jpg
  text-hover: Candles
- column-size: col-4_sm-6_xs-12
  background_image: /images/legacy-green-original4.jpg
  popup_image: /images/legacy-green-original4.jpg
  text-hover: Candles
- column-size: col-6_sm-6_xs-12
  background_image: /images/legacy-green-original2.jpg
  popup_image: /images/legacy-green-original2.jpg
  text-hover: Candles
- column-size: col-6_sm-6_xs-12
  background_image: /images/legacy-green-original3.jpg
  popup_image: /images/legacy-green-original3.jpg
  text-hover: Candles
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/candle-web9.jpeg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

<section class="{{page.banner.banner-tall }} {{page.banner.small-devices-tall }} grid">

    {% include header-nav-index.html %}

    <div class="col-5_sm-12 padded">
      <div class="bg-image {{page.banner.aspect-ratio }}" style="background-image:url('{{ page.banner.banner_image }}')"></div>
    </div>

    <div class="col-6_sm-12-middle padded">
        <h2 class="big-bold editable"> About us </h2>
        <p> For more than five years we have worked as cleaners in Australia, which gave us enough experience and we have seen throughout our work that we can do it in a different and more environmentally responsible way, in addition to being people who care about the environment and the future of our planet and the love we have for nature led us to combine the two things into one.</p>
        <p> For this reason, we have decided that any task or work that we perform is important to be related to our environmental ethics since in some way we want our work to help reduce our carbon footprint, and what better alternative than in the industry of the cleaning service. </p>
        <p> Our goal is being one of the green companies that have contributed the most in Australia in supporting the fight against climate change through cleaning, through an eco-friendly service to our customers.  </p>
    </div>

    <div>
        <h3 class="our-story-text editable"> OUR STORY </h3>
    </div>

</section>


<!--------------------  THE TEAM -------------------->

<section class="padded-b-lg padded-lg padded-t sm-padded-lg sm-text-center">

    <div class="capped-width-narrow">
    
    <div>
        <!-- <h3 class="team-text editable"> BEHIND THE COMPANY </h3> -->
    </div>
        
    {% for person in page.team %}

        <div class="grid flex-flip-alternate-2">
            
            <div class="col-5_sm-12 padded-2">
                <img src="{{ person.profile_image }}" class="profile-image">
            </div>

            <div class="col-7_sm-12-middle padded-1">
                <h3> Meet {{ person.name }} </h3>
                <p> <strong> {{ person.bio }} </strong></p>
                <p> {{ person.description }} </p>
            </div>
        </div>

    {% endfor %}

    </div>  

</section>

<!--------------------  BANNER 2 -------------------->

<section class="bg-image {{page.banner-2.block-position }} {{page.banner-2.image-position }} fixed {{page.banner-2.banner-tall }} {{page.banner-2.small-devices-tall }}" style="background-image:url('{{ page.banner-2.banner_image }}')" id="{{site.data.navigation.quick-links.link-4.id }}">

  <div class="{{page.banner-2.column-size }}-middle {{page.banner-2.text-align }}">
    <h2 class="big-bold {{page.banner-2.main-text }} editable">
      How we do it
    </h2>
    <h3 class="{{page.banner-2.sub-text }} editable">
      From our suppliers to your delivery
    </h3>
  </div>
</section> 


<!-- ICON GRID  -->

<section class="padded padded-t-lg center">
  <h2 class="editable"> Why Candles & Co.? </h2>
  <div class="grid-center padded">

    {% for item in page.highlights %}
    <div class="{{item.column-size }} padded-sm">
      <i class="{{item.icon }} big-icon"></i>
      <h4> {{item.title }} </h4>
      <p>{{item.description}}</p>
    </div>
    {% endfor %}

  </div>
</section>

<!-- POP UP GALLERY -->

<section class="padded center padded-t-1">

  <h2 class="editable"> Pop Up Gallery </h2>
  <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
    <div class="gallery grid-center padded-1" id="lightgallery">

      {% for item in page.gallery %}
      <a class="{{item.column-size }}" href="{{item.popup_image }}">
          <div class="hover-container" style="background-image:url('{{item.background_image }}')">
              <div class="hover-overlay">
                  <div class="hover-inner">
                      <h4> {{item.text-hover}} </h4>
                  </div>
              </div>
          </div>
      </a>
      {% endfor %}
  
  
    </div>
  
</section>

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}