---
layout: default
seo:
  title: Contact us | Legacy Green Cleaning Services
  description: We’ll come to your office or home and provide a free green-cleaning assessment.
  social_image: /images/legacy-green-logo.png
  keywords:
  - commercial green cleaning adelaide
  hide-from-google: false
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/legacy-green17.jpg
  image-position: bg-pos-c
  banner-tall: tall-80
  small-devices-tall: tall-40-sm
  column-size: col-6_sm-12
  text-align: left
  main-content: Hello
  sub-content: Get in touch
  main-text: white-text
  sub-text: white-text
  block-position: grid-right
contact:
  email-link: legacygreen.sm@gmail.com
  email: legacygreen.sm@gmail.com
  whatsapp_url: https://wa.link/6bs9f5
  whatsapp-title: 0406 524 383
  instagram_url:
  instagram: '@legacygreen.au'
  button: button
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/cafe-web17.jpeg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-dark.html %}

      <div class="{{page.banner.column-size }}-middle {{page.banner.text-align }} padded-b-lg sm-padded">
      <h3>
        <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br>
        <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }} </span> <br>
      </h3>
    </div>

  </section>

<!-- Contact Form -->
<section class="grid padded contact">

    <div class="col-6_sm-12 padded">
      <h2 class="editable"> Contact us </h2>
      <p class="editable"> To request a free quote or workplace assestment, please fill out the form or contact us below.</p>
      <p class="editable"><strong>Whatsapp:</strong> <a href="{{page.contact.whatsapp_url }}">{{page.contact.whatsapp-title }}</a></p>
      <p class="editable"><strong>Send us an email at:</strong> <a href="mailto:{{page.contact.email-link }}">{{page.contact.email }}</a></p>
      <p class="editable"><strong>Send us a DM on Instagram:</strong> <a href="{{page.contact.instagram_url }}">{{page.contact.instagram }}</a></p>
      <!-- <p class="editable"><strong>Location:</strong> We are based in Adelaide, but we offer delivery to all Australia.</p> -->
    </div>
    <div class="col-6_sm-12-middle padded">
      <form class="grid-center" name="contact" method="POST" data-netlify="true" action="/index.html">
        <div class="col-6_sm-12">
          <input type="text" name="name" placeholder="Your Name">
        </div>
        <div class="col-6_sm-12">
          <input type="email" name="_replyto" placeholder="Your Email">
        </div>
        <div class="col-12">
          <textarea placeholder="Your Message"></textarea>
          <input type="submit" value="Send" class="{{page.contact.button }}">
        </div>
      </form>
    </div>
  </section>

     <!-- MAPA -->
<!-- <section class="grid padded padded-t-0">
  <div class="col-6_sm-12">
    <iframe src="{{page.contact.map }}" width="100%" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>
  </div>
  <div class="col-6_sm-12-middle padded">
    <h2 class="editable"> Location </h2>
    <p class="editable"> Come and visit us in our walkthrough store and pick up a lovingly prepared bouquet. Flowers for all of life’s occasions.</p>
    <p class="editable"> <strong> Address: </strong> Sunshine Plaza -  
      GF K171 154-164 Horton Parade Maroochydore. </p>
  </div>
</section> -->

  <!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}