---
layout: default
seo:
  title: Contact us | Legacy Green Cleaning Services
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/legacy-green17.jpg
  image-position: bg-pos-c
  banner-tall: tall-80
  small-devices-tall: tall-40-sm
  column-size: col-6_sm-12
  text-align: left
  main-content: Hello
  sub-content: Get in touch
  main-text: white-text
  sub-text: white-text
  block-position: grid-right
contact:
  email-link: legacygreen.sm@gmail.com
  email: legacygreen.sm@gmail.com
  tel-link: +61406524383
  tel: 0406 524 383
  button: button
  map: https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14263.20061197455!2d153.0871569!3d-26.6548804!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6911dd4089163c6c!2sThe%20Sunny%20Coast%20Flower%20Bar!5e0!3m2!1sen!2sau!4v1638938556442!5m2!1sen!2sau
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/cafe-web17.jpeg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-dark.html %}

      <div class="{{page.banner.column-size }}-middle {{page.banner.text-align }} padded-b-lg sm-padded">
      <h3>
        <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br>
        <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }} </span> <br>
      </h3>
    </div>

  </section>

<!-- Contact Form -->
<section class="grid padded contact">

    <div class="col-6_sm-12 padded">
      <h2 class="editable"> Contact us </h2>
      <p class="editable"> Get a free assestment</p>
      <p class="editable"> <strong> Email: </strong> <a href="mailto:{{page.contact.email-link }}" class="subtle-button2">{{page.contact.email }}</a> </p>
      <p class="editable"> <strong> Phone: </strong> <a href="tel:{{page.contact.tel-link }}" class="subtle-button2">{{page.contact.tel }}</a></p>
    </div>
    <div class="col-6_sm-12-middle padded">
      <form class="grid-center" action="https://formspree.io/hello@company.com" method="POST">
        <div class="col-6_sm-12">
          <input type="text" name="name" placeholder="Your Name">
        </div>
        <div class="col-6_sm-12">
          <input type="email" name="_replyto" placeholder="Your Email">
        </div>
        <div class="col-12">
          <textarea placeholder="Your Message"></textarea>
          <input type="submit" value="Send" class="{{page.contact.button }}">
        </div>
      </form>
    </div>
  </section>

     <!-- MAPA -->
<!-- <section class="grid padded padded-t-0">
  <div class="col-6_sm-12">
    <iframe src="{{page.contact.map }}" width="100%" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>
  </div>
  <div class="col-6_sm-12-middle padded">
    <h2 class="editable"> Location </h2>
    <p class="editable"> Come and visit us in our walkthrough store and pick up a lovingly prepared bouquet. Flowers for all of life’s occasions.</p>
    <p class="editable"> <strong> Address: </strong> Sunshine Plaza -  
      GF K171 154-164 Horton Parade Maroochydore. </p>
  </div>
</section> -->

  <!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}