---
layout: no-footer
seo:
  title: Explore | Legacy Green Cleaning Services
  description: Quick links to improve your experience with Legacy Green Cleaning Services
  social_image: /images/legacy-green-logo.png
  keywords:
  - commercial green cleaning adelaide
  hide-from-google: true
---

<section class="grid bg-semi-dark center explore-text tall-100 relative">

    <div class="col-3_sm-4 capped-width padded padded-b-0">
        <a href="/index.html" class="logo-explore">
            <img src="{{ site.data.site-settings.general.explore-logo_image }}">
        </a>
    </div>

    <nav class="col-12 padded padded-b-0 padded-t-0">
        
        {% for item in site.data.navigation.explore-menu %}

        <div class="padded-05 sm-padded-2">
            <a href="{{item.url }}" class="explore"> {{item.name }} </a>
        </div>

        {% endfor %}
        
    </nav>
    
    <nav class="col-12 grid social-menu-explore sm-inline">
        <div class="col-12 padded">

            {% for item in site.data.navigation.social %}
            <a href="{{item.url }}" target="_blank">
                <i class="{{item.icon }}"></i>
            </a>
            {% endfor %}

        </div>
        
    </nav>

</section>