---
layout: default
seo:
  title: Home | Legacy Green Cleaning Services 
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/legacy-green3.jpg
  image-position: Top
  banner-tall: tall-100
  small-devices-tall: tall-60-sm
  column-size: col-8_sm-12
  text-align: left
  main-text: white-text
  sub-text: white-text
  highlight: bg-accent
  button: button
  banner-button-title: Contact us
  banner-button-link: /contact
first-section:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services8.jpg
  hover-title: Common areas
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services7.jpg
  hover-title: Toilets
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services5.jpg
  hover-title: Vacuuming
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services4.jpg
  hover-title: Dusting
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services3.jpg
  hover-title: Moping
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-cleaning4.jpg
  hover-title: Deep clean washrooms
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services2.jpg
  hover-title: Showers
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/legacy-green-services1.jpg
  hover-title: Kitchen appliances
  title:
  description:
first-section-button:
  button: button-inverted
  first-button-title: View more
  first-button-link: /services
banner-2:
  banner_image: /images/legacy-green9.jpg
  banner-tall: tall-100
  small-devices-tall: tall-50-md
  column-size: col-6_sm-12
  text-align: center
  main-text: semi-dark-text
  sub-text: white-text
  block-position: grid-center
  button: button
  banner2-button-title: Show me
  banner2-button-link: /about/#peru
best-sellers-heading: true
best-sellers:
  - background_image: /images/legacy-green17.jpg
    image-position: bg-pos-c
    title: Contact us
    description: contact us through our contact number, email, or through our Instagram.
    button: button-inverted
    best-button-title: Contact us
    best-button-link: /collections
  - background_image: /images/legacy-green-services9.jpg
    image-position: bg-pos-c
    title: We make a visit to your office
    description: We make a visit to your workplace, we make a proposal for a cleaning routine at the place of work to reach a mutual agreement.
    button: button-inverted
    best-button-title: Contact us
    best-button-link: /contact
  - background_image: /images/legacy-green-services10.jpg
    image-position: bg-pos-c
    title: We help you to become more environmentally friendly
    description: During our visit to the place, we make an assessment of the spaces and we will make a proposal for a cleaning routine, recycling bins points, collection of recycled batteries, and, help our clients create a healthier place.
    button: button-inverted
    best-button-title: Contact us
    best-button-link: /contact
special-banner: true
special-offer:
  background: bg-featured
  main-text: white-text
  sub-text: white-text
  button: button
  button-title: Contact us
why-us:
  background_image: /images/legacy-green2.jpg
  background: bg-semi-dark
  button: button-inverted
  why-button-link:
  why-button-title: Get to know more about us
testimonial-section: false
testimonial:
  button: button-inverted
faq: true
banner-faq_image: /images/legacy-green-cleaning13.jpg
sign-up-banner: true
sign-up:
  background: bg-semi-dark
  main-text: white-text
  sub-text: white-text
  button: button-special
---

<header class="bg-image {{page.banner.image-position }} grid {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-index.html %}

      <div class="{{page.banner.column-size }} {{page.banner.text-align }} padded">
        <h1 class="big-bold {{page.banner.main-text }} editable">
          Legacy Green<br> Cleaning Services
        </h1>
        <h2 class="medium-bold {{page.banner.sub-text }} editable"> Environment Advocates</h2>
        <!-- <h1 class="padded-b-1"> 
          <span class="{% if page.banner.highlight == true %} highlight {% endif %} {{page.banner.highlight }} text-15 editable padded-05">Ecofriendly commercial cleaning in Adelaide </span></h1> -->
          <a href="{{page.banner.banner-button-link }}" class="{{page.banner.button }}"> {{page.banner.banner-button-title }} </a>
      </div>
</header>


<!--------------------  FIRST SECTION -------------------->

<section class="padded center padded-t-lg" id="{{site.data.navigation.quick-links.link-3.id }}">
    <h2 class="editable">
        This is what we can do for your office
    </h2>

    <div class="grid padded-1">

      {% for item in page.first-section %}
        <div class="{{item.column-size }} padded-1">
            <div class="hover-container" style="background-image:url('{{ item.background_image }}')">
            <div class="hover-overlay">
                <div class="hover-inner">
                    <h3> {{item.hover-title }} </h3>
                </div>
            </div>
            </div>
            <div class="padded">
                <h4>{{item.title }} </h4>
                <p>{{item.description }}</p>
            </div>
        </div>

        {% endfor %}
        
        <div class="col-12 center">
          <a href="{{page.first-section-button.first-button-link }}" class="{{page.first-section-button.button }}">
            {{page.first-section-button.first-button-title }} </a>
        </div>
        
    </div>
</section>


<!--------------------  BANNER -------------------->

<section class="bg-image {{page.banner-2.block-position }} fixed {{page.banner-2.banner-tall }} {{page.banner-2.small-devices-tall }}" style="background-image:url('{{ page.banner-2.banner_image }}')">
    <div class="{{page.banner-2.column-size }}-middle {{page.banner-2.text-align }} padded-sm">
      <h2 class="big-bold {{page.banner-2.main-text }} editable">
          Why go green?
      </h2>
      <h3 class="{{page.banner-2.sub-text }} editable">
          Efficiency, cost control, health & more!
      </h3>
      <a href="{{page.banner-2.banner2-button-link }}" class="{{page.banner-2.button }}">{{page.banner-2.banner2-button-title }}</a>
    </div>
  </section> 
  

<!--------------------  BEST SELLERS -------------------->

  <section class="padded-tb-lg" id="{{site.data.navigation.quick-links.link-2.id }}">
    
    {% if page.best-sellers-heading == true %}
    <h2 class="editable center padded-sm">How does it work?</h2>
    {% endif %}

    {% for item in page.best-sellers %}
    <div class="grid flex-flip">
      <div class="col-6_sm-12 bg-image {{item.image-position }} sm-landscape-wide" style="background-image:url('{{ item.background_image }}')"></div>
      <div class="col-6_sm-12-middle padded">
        <h3> {{item.title }} </h3>
        <p> {{item.description }} </p>
        <a class="{{item.button }}" href="{{item.best-button-link }}"> {{item.best-button-title }} </a>
      </div>
    </div>
    {% endfor %}
    
  </section>

<!--------------------  BANNER DISCOUNT -------------------->

{% include special-offer.html %}

<!--------------------  WHY PERUVIAN BOWLS -------------------->

<section class="grid padded padded-l-0 padded-t-lg sm-padded white-text">
  <div class="bg-image col-7_sm-12 tall-80 tall-50-sm" style="background-image:url('{{ page.why-us.background_image }}')">
  </div>
  <div class="col-5_sm-12-middle relative">
    <div class="bg-why-over {{ page.why-us.background }} bg-over">
        <h2 class="big-bold editable">
            Our Story
        </h2>
        <p class="editable">
          For more than five years we have worked as cleaners in Australia, which gave us enough experience and we have seen throughout our work that we can do it in a different and more environmentally responsible way, in addition to being people who care about the environment future of our planet and the love we have for nature led us to combine the two things into one.
        </p>
        <p class="editable">
          For this reason, we have decided that any task or work that we perform is important to be related to our environmental ethics since in some way we want our work to help reduce our carbon footprint, and what better alternative than in the industry of the cleaning service. 
        </p>
        <div class="padded-t">
          <a class="{{page.why-us.button }}" href="{{page.why-us.why-button-link }}"> {{page.why-us.why-button-title }} </a>
        </div>
        
      </div>
    </div>
</section>

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}
