---
layout: default
seo:
  title: Services | Legacy Green Cleaning Services
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/candle-web1.jpg
  image-position: bg-pos-c
  banner-tall: tall-80
  small-devices-tall: tall-40-sm
  column-size: col-12
  text-align: center
  main-content: Our Services
  sub-content: Make your workplace environment healthier
  highlighted-content: Delivery takes from 2 to 5 days
  main-text: white-text
  sub-text: white-text
  block-position: grid-left
  highlight: true
  highlight-background: bg-accent
special-banner: true
special-offer:
  background: bg-warm
  main-text: dark-text
  sub-text: dark-text
  button: button-special
  button-title: Contact us
services-section:
  title: Our Services
  description: Study or migrate to Australia
  slider-name: Slide to the right
services:
- title: Eco-friendly Commercial Cleaning
  description: We offer a wide range of options to all students based on their goals and preferences. We work with highly known and well-established Colleges in Australia.
  url: /contact
  image: /images/metaustralia-7.jpg
- title: High-quality Cleaning Services
  description: We offer connections to two highly recognised and professional Migration Agencies that can help and support you to choose the best options and advice to pursue Permanent residency in Australia if this is what you are looking for.
  url: /contact
  image: /images/metaustralia-9.jpg
first-section:
- column-size: col-3_sm-12
  background_image: /images/candle-web4.jpeg
  hover-title: Common areas
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web2.webp
  hover-title: Toilets
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web6.jpeg
  hover-title: Vacuuming
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web1.jpg
  hover-title: Dusting
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web1.jpg
  hover-title: Moping
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web1.jpg
  hover-title: Deep clean washrooms
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web1.jpg
  hover-title: Showers
  title:
  description:
- column-size: col-3_sm-12
  background_image: /images/candle-web1.jpg
  hover-title: Kitchen appliances
  title:
  description:
steps:
- column-size: col-4_sm-12
  number: 1
  title: Contact us
  description: contact us through our contact number, email, or through our Instagram, and schedule a free consultation.
- column-size: col-4_sm-12
  number: 2
  title: We make a visit to your office 
  description: We make a visit to your workplace, we make a proposal for a cleaning routine at the place of work to reach a mutual agreement.
- column-size: col-4_sm-12
  number: 3
  title: Become more environmentally friendly 
  description: We'll make an assessment of the spaces and we will make a proposal for a cleaning routine, recycling bins points, collection of recycled batteries, and help our clients create a healthier place.
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/demo-web1.jpg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->


  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-index.html %}

      <div class="{{page.banner.column-size }} {{page.banner.text-align }} padded">
        <h3>
          <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br />
          <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }}. </span> <br />
        </h3>
        <h1 class="padded-b-1"> 
          <span class="{% if page.banner.highlight == true %} highlight {% endif %} {{page.banner.highlight-background }} text-15 editable">{{page.banner.highlighted-content }}</span></h1>
        <a href="/#order" class="{{page.banner.button }} editable"> {{page.banner.button-text }} </a>
      </div>
  </section>

<!-- SERVICES -->

<section class="padded sm-padded-b-lg sm-padded-t-lg">

  <div class="grid services">

    <div class="col-12 padded-sm padded-b-0">
      <div class="padded-t-2 show-md xs-padded-t-1">
        <span class="blue-text">{{page.services-section.slider-name }}<span class="margin-l-1 accent-text">&#x276F;</span><span>&#x276F;</span><span class="accent-text">&#x276F;</span></span>
      </div>
    </div>
    
    <div class="col-12 grid-equalHeight padded-sm horizontal-scroll">

      {% for item in page.services limit:5 %}
      <div class="col-6_md-5_sm-8_xs-11 padded-1">
        
          <div class="card-services">
            <a href="{{item.url }}">
              <div class="bg-image landscape bg-radius-services" style="background-image: url('{{ item.image }}');"></div>
              <div class="padded-lg">
                  <h4>{{item.title }}</h4>
                  <p>{{item.description }}</p>
              </div>
            </a>
          </div>

      </div>
      {% endfor %}

    </div>

  </div>

</section> 

<!-- WHAT WE CAN DO -->

<section class="padded center" id="{{site.data.navigation.quick-links.link-3.id }}">
  <h2 class="editable">
      This is what we can do for your office
  </h2>

  <div class="grid padded-1">

    {% for item in page.first-section %}
      <div class="{{item.column-size }} padded-1">
          <div class="hover-container" style="background-image:url('{{ item.background_image }}')">
          <div class="hover-overlay">
              <div class="hover-inner">
                  <h3> {{item.hover-title }} </h3>
              </div>
          </div>
          </div>
          <div class="padded">
              <h4>{{item.title }} </h4>
              <p>{{item.description }}</p>
          </div>
      </div>

      {% endfor %}
      
    
  </div>
</section>

<!-- DELIVERY STEPS  -->

<section class="padded center padded-t-0">
  <h2 class="editable"> How to acquire our service? </h2>
  <div class="grid padded-1">

    {% for item in page.steps %}
    <div class="{{item.column-size }} padded-2">
      <span class="number-text"> {{item.number }} </span>
      <h4> {{item.title }}  </h4>
      <p> {{item.description }} </p>
    </div>
    {% endfor %}

  </div>
</section>

<!--------------------  BANNER DISCOUNT -------------------->

{% include special-offer.html %}

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}