---
layout: default
seo:
  title: Services | Legacy Green Cleaning Services
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/candle-web1.jpg
  image-position: bg-pos-c
  banner-tall: tall-80
  small-devices-tall: tall-40-sm
  column-size: col-12
  text-align: center
  main-content: Our Services
  sub-content: there is always a candle for you
  highlighted-content: Delivery takes from 2 to 5 days
  main-text: white-text
  sub-text: white-text
  block-position: grid-left
  highlight: true
  highlight-background: bg-grey
special-banner: true
special-offer:
  background: bg-warm
  main-text: dark-text
  sub-text: dark-text
  button: button-special
  button-title: Contact us
services-section:
  title: Our Services
  description: Study or migrate to Australia
  slider-name: Slide to the right
services:
- title: Eco-friendly Commercial Cleaning
  description: We offer a wide range of options to all students based on their goals and preferences. We work with highly known and well-established Colleges in Australia.
  url: /contact
  image: /images/metaustralia-7.jpg
- title: High-quality Cleaning Services
  description: We offer connections to two highly recognised and professional Migration Agencies that can help and support you to choose the best options and advice to pursue Permanent residency in Australia if this is what you are looking for.
  url: /contact
  image: /images/metaustralia-9.jpg
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/demo-web1.jpg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->


  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-index.html %}

      <div class="{{page.banner.column-size }} {{page.banner.text-align }} padded">
        <h3>
          <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br />
          <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }}. </span> <br />
        </h3>
        <h1 class="padded-b-1"> 
          <span class="{% if page.banner.highlight == true %} highlight {% endif %} {{page.banner.highlight-background }} text-15 editable">{{page.banner.highlighted-content }}</span></h1>
        <a href="/#order" class="{{page.banner.button }} editable"> {{page.banner.button-text }} </a>
      </div>
  </section>

<!-- SERVICES -->

<section class="padded sm-padded-b-lg sm-padded-t-lg">

  <div class="grid services">

    <div class="col-12 padded-sm padded-b-0">
      <div class="padded-t-2 show-md xs-padded-t-1">
        <span class="blue-text">{{page.services-section.slider-name }}<span class="margin-l-1 accent-text">&#x276F;</span><span>&#x276F;</span><span class="accent-text">&#x276F;</span></span>
      </div>
    </div>
    
    <div class="col-12 grid-equalHeight padded-sm horizontal-scroll">

      {% for item in page.services limit:5 %}
      <div class="col-6_md-5_sm-8_xs-11 padded-1">
        
          <div class="card-services">
            <a href="{{item.url }}">
              <div class="bg-image landscape bg-radius-services" style="background-image: url('{{ item.image }}');"></div>
              <div class="padded-lg">
                  <h4>{{item.title }}</h4>
                  <p>{{item.description }}</p>
              </div>
            </a>
          </div>

      </div>
      {% endfor %}

    </div>

  </div>

</section> 

<!--------------------  BANNER DISCOUNT -------------------->

{% include special-offer.html %}

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}