---
layout: default
seo:
  title: Services | Legacy Green Cleaning Services
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/candle-web1.jpg
  image-position: bg-pos-c
  banner-tall: tall-80
  small-devices-tall: tall-40-sm
  column-size: col-12
  text-align: center
  main-content: Candle Collections
  sub-content: there is always a candle for you
  highlighted-content: Delivery takes from 2 to 5 days
  main-text: white-text
  sub-text: white-text
  block-position: grid-left
  highlight: true
  highlight-background: bg-grey
special-banner: true
special-offer:
  background: bg-warm
  main-text: dark-text
  sub-text: dark-text
collections:
  collection-1-name: Spring Collection
  collection-1-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque eos quisquam porro, sint cum, atque, accusantium repellendus perferendis corrupti laudantium deserunt esse soluta tempora ea nihil sapiente consequuntur magni!
  collection-2-name: White Collection
  collection-2-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque eos quisquam porro, sint cum, atque, accusantium repellendus perferendis corrupti laudantium deserunt esse soluta tempora ea nihil sapiente consequuntur magni!
  collection-3-name: Love Collection
  collection-3-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque eos quisquam porro, sint cum, atque, accusantium repellendus perferendis corrupti laudantium deserunt esse soluta tempora ea nihil sapiente consequuntur magni!
  collection-4-name:
  collection-4-description:
  collection-5-name:
  collection-5-description:
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/demo-web1.jpg
sign-up-banner: true
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->


  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-index.html %}

      <div class="{{page.banner.column-size }} {{page.banner.text-align }} padded">
        <h3>
          <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br />
          <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }}. </span> <br />
        </h3>
        <h1 class="padded-b-1"> 
          <span class="{% if page.banner.highlight == true %} highlight {% endif %} {{page.banner.highlight-background }} text-15 editable">{{page.banner.highlighted-content }}</span></h1>
        <a href="/#order" class="{{page.banner.button }} editable"> {{page.banner.button-text }} </a>
      </div>
  </section>

<!--------------------  BANNER DISCOUNT -------------------->

{% include special-offer.html %}
  
 <!--------------------  SHOP MEALS -------------------->

{% include shopify-collections.html %}

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}