---
layout: default
seo:
  title: Why Choose Us | Legacy Green Cleaning Services
  description:
  social_image:
  keywords:
  hide-from-google: true
notification-bar: false
bar:
  background: bg-accent
  text: white-text
  text-align: center
menu:
  button-style: false
banner:
  banner_image: /images/legacy-green-cleaning3.jpg
  image-position: bg-pos-c2
  banner-tall: tall-70
  small-devices-tall: tall-80-sm
  column-size: col-5_sm-12
  text-align: left
  main-content: Environment Advocates
  sub-content: Learn how we can make a difference in your workplace
  main-text: dark-text
  sub-text: dark-text
  content-background: bg-white
  button: button-inverted
  button-title: Contact us
  button-link: /contact
first-section:
- column-size: col-4_sm-12
  image: /images/legacy-green-icon1.png
  title: Nontoxic cleaning products
  description:
- column-size: col-4_sm-12
  image: /images/legacy-green-icon2.png
  title: Healthier working environment
  description:
- column-size: col-4_sm-12
  image: /images/legacy-green-icon3.png
  title: Professional Cleaners
  description:
- column-size: col-4_sm-12
  image: /images/legacy-green-icon4.png
  title: HEPA filter vacuum cleaners
  description:
- column-size: col-4_sm-12
  image: /images/legacy-green-icon5.png
  title: Hygienic microfiber cloths and mops
  description:
why-us_image: /images/legacy-green-cleaning6.jpg
why-us:
- title: Healthier workplace
  description: Commercial Green Cleaning Services allow a reduction of negative impacts on the health of our clients.
- title: Help the environment 
  description: Reduction of negative impacts on the environment.
- title: Cost control
  description: Efficiency of cleaning processes with real benefits for all.
banner-2:
  banner_image: /images/candle-web5.jpeg
  image-position: bg-pos-b
  banner-tall: tall-80
  small-devices-tall: tall-50-md
special-banner: true
special-offer:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
  button-title: Contact us
testimonial-section: false
testimonial:
  button: button-inverted
faq: false
banner-faq_image: /images/candle-web9.jpeg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

  <section class="bg-image {{page.banner.image-position }} grid {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

    {% include header-nav-dark.html %}

      <div class="col-12 grid-right-middle">
        <div class="{{page.banner.column-size }}-middle {{page.banner.content-background }} {{page.banner.text-align }} padded-2">
          <h3 class="{{page.banner.main-text }} editable"> {{page.banner.main-content }} </h3>
          <p class="{{page.banner.sub-text }} editable"> {{page.banner.sub-content }} </p>
          <a href="{{page.banner.button-link }}" class="{{page.banner.button }}"> {{page.banner.button-title }} </a>
        </div>
      </div>
      
    

  </section>


<!--------------------  FIRST SECTION -------------------->

<section class="padded center padded-t-lg why-us" id="{{site.data.navigation.quick-links.link-3.id }}">
  <h2 class="editable padded-b-1">
      Our difference
  </h2>

  <div class="grid-center padded-1 capped-width-narrow">

    {% for item in page.first-section %}
      <div class="{{item.column-size }} padded-r padded-l padded-t-1 padded-b-1 center">
          <div>
          <img src="{{item.image }}" alt="">
          </div>
          <div class="padded">
              <h4>{{item.title }} </h4>
              <p>{{item.description }}</p>
          </div>
      </div>

      {% endfor %}
      
      <div class="col-12 center">
        <a href="{{page.first-section-button.first-button-link }}" class="{{page.first-section-button.button }}">
          {{page.first-section-button.first-button-title }} </a>
      </div>
      
  </div>
</section>

<!--------------------  WHY GO GREEN -------------------->
<section>

  <div class="grid-middle go-green">

    <div class="col-6_sm-12 padded-t-md padded-r relative sm-padded-t-0 sm-padded-b-lg sm-padded-r-0" id="go-green">
      <div class="bg-image square bg-radius-why sm-landscape" style="background-image: url('{{ page.why-us_image }}')"></div>
    </div>

    <div class="col-6_sm-12 grid" id="go-green">

      <div class="col-12 padded-b-lg">
        <h3>Why go green?</h3>
      </div>

      {% for item in page.why-us %}
        <div class="col-1">
          <i class="fas fa-caret-right margin-r-1"></i>
        </div>
        <div class="col-11 padded-b-1 padded-r-lg">
          <h4>{{item.title }}</h4>
        </div>
        <div class="col-1"></div>
        <div class="col-11 padded-b padded-r-lg">
          <p>{{item.description }}</p>
        </div>
      {% endfor %}
      
    </div>

  </div>

</section>

<!--------------------  BG IMAGE -------------------->

<!-- <section class="bg-image grid-center {{page.banner-2.image-position }} {{page.banner-2.banner-tall }} {{page.banner-2.small-devices-tall }}" style="background-image:url('{{ page.banner-2.banner_image }}')">
  
</section>   -->

{% include special-offer.html %}

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}