<!-- Site Header -->

<section class="grid {% if page.notification-bar == true%} padded-2 {% else %} padded-1 {% endif %}">

    {% if page.notification-bar == true %}
    <!-- Informative section Fixed -->

        <div class="notification-bar top-position {{page.bar.background }} {{page.bar.text }} {{page.bar.font-size }} {{page.bar.text-align }}">
        <p class="editable {{page.bar.font-size }}"> Free shipping on orders over $50 </p>
        </div>

    {% endif %}

    <div class="col-2_md-3_xs-5 left padded-l-1 padded-2 padded-t-1 sm-padded-l-0" data-aos="fade-right">
        <a href="/index.html" class="logo">
            <img src="{{ site.data.site-settings.general.logo_image }}" />
        </a>
    </div>

    <nav class="col-10_md-9 right hide-sm padded-2 dark-links">
        {% for item in site.data.navigation.menu %}
            <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}

        {% for item in site.data.navigation.social %}
        <a href="{{item.url }}" target="_blank">
            <i class="{{item.icon }}"></i>
        </a>
        {% endfor %}

    </nav>


</section>

<div class="hamburger show-sm">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
</div>


<!--------------------  Mobile Menu -------------------->

<section class="grid-middle mobile-menu padded center sm-padded-t-5">

    <div class="col-5-middle-center capped-width-v-narrow">
        <a href="/index.html" class="logo">
            <img src="{{ site.data.site-settings.general.logo_image }}" />
        </a>
    </div>

    <nav class="medium-text-courier padded-t">

        {% for item in site.data.navigation.footer-menu %}
            <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
        
    </nav>
    
    <nav class="grid-bottom social-menu-mobile padded">
        <div class="col-12">

            {% for item in site.data.navigation.social %}
            <a href="{{item.url }}" target="_blank">
                <i class="{{item.icon }}"></i>
            </a>
            {% endfor %}

        </div>
        
    </nav>

</section>
