<footer class="grid-top padded padded-b-0 sm-text-center sm-padded-t-lg">
    <!-- column -->
    <div class="col-3_sm-12 padded-1 relative">
      <h2 class="logo editable"> Legacy Green Cleaning Services </h2>
      <h5 class="semi-dark-text regular-weight"> Environment Advocates </h5>
      <div class="tree">
        <img src="/images/legacy-green-tree.png" alt="">
      </div>
    </div>
    <div class="col-1 sm-hidden"> <!-- empty filler --> </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1 hide-sm">
      <h4 class="editable"> Quick Links </h4>
      <nav>
        {% for item in site.data.navigation.quick-links %}
            <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1">
      <h4 class="editable"> Explore </h4>
      <nav>
        {% for item in site.data.navigation.footer-menu %}
            <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-2_sm-4_xs-12 padded-1 sm-inline">
      <h4 class="editable"> Connect </h4>
      <nav>
            
        {% for item in site.data.navigation.social %}
        <a href="{{item.url }}" target="_blank">
            <i class="{{item.icon }}"></i>
        </a>
        {% endfor %}

      </nav>  
    </div>

    <div class="col-12 center padded-sm padded-b-05">
        <p class="subtitle-2 margin-b-0"> Website by
            <a href="https://www.picaronstudio.com" target="_blank"> Picaron Studio
            </a>
        </p>
        <p class="subtitle-2"> Copyright 2022</p>
    </div>

    {% include cookie-banner.html %}
    
  </footer>
