{% if page.special-banner == true %}

<section class="center padded {{page.special-offer.background }}">
    <h3 class="medium-bold {{page.special-offer.main-text }} editable" id="{{site.data.navigation.quick-links.link-1.id }}">
        Schedule a FREE consultation now
    </h3>
    <p class="text-15 {{page.special-offer.sub-text }} editable">
        We’ll come to your office or home and provide a free green-cleaning assessment.
    </p>
    <div class="padded-t-1">
        <a class="{{page.special-offer.button }}" href="/contact.html">{{page.special-offer.button-title }}</a>
    </div>
    

{% endif %}
  
</section>
